// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body a {
  color: green;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #4AA02C;
  }
}

h2 a {
  color: black;
}

img {
  border-radius: 5px;
  width: 70%;
}

.delete a {
  // margin-top:10px;
}

.tags {
  color: #728C00;
  font-weight: bold;
}

.delete .delete-link {
 visibility: hidden;
}

.delete:hover .delete-link {
  visibility: visible;
  a {
    color: red;
  }
}

.edit-links a {
  margin: 10px;
  color: grey;
  &:hover {
    color: black;
  }
}

.admin-box .admin {
  visibility: hidden;
}

.admin-box:hover .admin {
  visibility: visible;
}

#post_content textarea {
  overflow: scroll;
}

.spinner {
  display: none;
}