<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: £10</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets[:stripe_pb] %>"
          data-description="Hi"
          data-amount="1000"></script>
<% end %>